@charset "utf-8";
/* CSS Document */

*{
	margin: 0px; 
	text-decoration: none; 
	list-style-type: none; 
	color: inherit;
	font-family: 'Titillium Web', sans-serif;
}
body{
	background-color: #a075ff;
}
.Header_autonomhack{
	display: flex;
	align-items: center; 
	background-color: #512ba6;
}
.Header_button{
	display: flex;
	align-items: center;
	width: 100%;
	margin-right: 15px;
}
.Header_button button{
	color: black; 	
	display: flex; 
	flex-grow: 1;
	justify-content: space-evenly;
}
.Header_button span{
	font-size: 35px;
}
button {
  background: #a075ff;
  border: none;
  padding: 10px 20px;
  margin-right: 15px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

header span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fced1e;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.Autonomhack_paragraph{
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: baseline;
	gap: 50px;
	margin-left: 100px;
	margin-top: 50px; 
}
.Autonomhack_paragraph span{
	background-color: black; 
	color: white; 
}

